workflows/Aggiungi fatture acquisti.json
{
  "active": true,
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Crypto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crypto": {
      "main": [
        [
          {
            "node": "Sync Fatture Acquisti",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "Sync Prodotti",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sync Fatture Acquisti": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Crypto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-01-12T10:41:08.873Z",
  "id": "Jqg4Z5EA55Q7Jufx",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Aggiungi fatture acquisti",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "id": "a4a598f2-8d01-417d-9932-9c5d53d431bc",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        280,
        400
      ],
      "notesInFlow": true,
      "disabled": true,
      "notes": "Ogni ora"
    },
    {
      "parameters": {
        "value": "={{ \"_service\" + $now.setZone('UTC').toFormat('yyyy-MM-dd') }}",
        "dataPropertyName": "token"
      },
      "id": "684ac52d-b3d6-4d60-ba1a-2ecae50efe5b",
      "name": "Crypto",
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 1,
      "position": [
        520,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.stato }}",
              "value2": true
            }
          ]
        }
      },
      "id": "20c998f1-08ce-49f2-b1d0-d59116ac3f32",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        980,
        400
      ]
    },
    {
      "parameters": {
        "errorMessage": "Errore esecuzione sync"
      },
      "id": "c3ef6341-f0aa-46a8-8f1d-cab2a271922d",
      "name": "Stop and Error",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        1320,
        500
      ]
    },
    {
      "parameters": {
        "url": "=https://gestionale.ntcloud.it/prodotti/syncfic.php",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "=_service:{{ $('Crypto').item.json[\"token\"] }}"
            }
          ]
        },
        "options": {
          "timeout": 60000
        }
      },
      "id": "fe9d8b03-4d51-41ba-91ab-c30cd30e1c17",
      "name": "Sync Fatture Acquisti",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        760,
        400
      ]
    },
    {
      "parameters": {
        "url": "=https://gestionale.ntcloud.it/prodotti/syncprodotti.php",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "=_service:{{ $('Crypto').item.json[\"token\"] }}"
            }
          ]
        },
        "options": {
          "timeout": 60000
        }
      },
      "id": "6e3480b9-a636-4ea5-a843-d591272f47f6",
      "name": "Sync Prodotti",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1300,
        200
      ]
    },
    {
      "parameters": {
        "path": "d87bf5b6-2d05-414a-931f-0143626e3e64",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "303286c4-e3f5-4605-9e23-4bd34d760d0f",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        280,
        180
      ],
      "webhookId": "d87bf5b6-2d05-414a-931f-0143626e3e64"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrencyRules": [
        9
      ]
    }
  },
  "tags": [
    {
      "createdAt": "2023-11-16T07:56:55.120Z",
      "updatedAt": "2023-11-16T07:56:55.120Z",
      "id": "CyrGRy289uAYgKBf",
      "name": "Gestionale Net Target"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-07-29T09:03:13.000Z",
  "versionId": "c4f655e7-e491-4207-9fb0-8ac869ee53d6"
}