workflows/Aggiungi fatture acquisti.json
{
  "active": true,
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Crypto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crypto": {
      "main": [
        [
          {
            "node": "Sync Fatture Acquisti",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "Sync Prodotti",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sync Fatture Acquisti": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-01-12T10:41:08.873Z",
  "id": "Jqg4Z5EA55Q7Jufx",
  "meta": null,
  "name": "Aggiungi fatture acquisti",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "id": "a4a598f2-8d01-417d-9932-9c5d53d431bc",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        280,
        400
      ],
      "notesInFlow": true,
      "notes": "Ogni 15 minuti"
    },
    {
      "parameters": {
        "value": "={{ \"_service\" + $now.setZone('UTC').toFormat('yyyy-MM-dd') }}",
        "dataPropertyName": "token"
      },
      "id": "684ac52d-b3d6-4d60-ba1a-2ecae50efe5b",
      "name": "Crypto",
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 1,
      "position": [
        520,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.stato }}",
              "value2": true
            }
          ]
        }
      },
      "id": "20c998f1-08ce-49f2-b1d0-d59116ac3f32",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        980,
        400
      ]
    },
    {
      "parameters": {
        "errorMessage": "Errore esecuzione sync"
      },
      "id": "c3ef6341-f0aa-46a8-8f1d-cab2a271922d",
      "name": "Stop and Error",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        1320,
        500
      ]
    },
    {
      "parameters": {
        "url": "=https://gestionale.ntcloud.it/prodotti/syncfic.php",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "=_service:{{ $('Crypto').item.json[\"token\"] }}"
            }
          ]
        },
        "options": {
          "timeout": 60000
        }
      },
      "id": "fe9d8b03-4d51-41ba-91ab-c30cd30e1c17",
      "name": "Sync Fatture Acquisti",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        760,
        400
      ]
    },
    {
      "parameters": {
        "url": "=https://gestionale.ntcloud.it/prodotti/syncprodotti.php",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "=_service:{{ $('Crypto').item.json[\"token\"] }}"
            }
          ]
        },
        "options": {
          "timeout": 60000
        }
      },
      "id": "6e3480b9-a636-4ea5-a843-d591272f47f6",
      "name": "Sync Prodotti",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1300,
        200
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrencyRules": [
        9
      ]
    }
  },
  "tags": [
    {
      "createdAt": "2023-11-16T07:56:55.120Z",
      "updatedAt": "2023-11-16T07:56:55.120Z",
      "id": "CyrGRy289uAYgKBf",
      "name": "Gestionale Net Target"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-01-25T18:29:24.000Z",
  "versionId": "1fdbed6a-6266-4562-856a-1de94b332d8e"
}