workflows/AI-ChatBot (AIKB).json
{
  "active": true,
  "connections": {
    "Format schema": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get database details": {
      "main": [
        [
          {
            "node": "Format schema",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Search notion database": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Search inside database record": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Get database details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-01-07T15:09:01.054Z",
  "id": "IG57MqXqzPFVgcY2",
  "meta": {
    "templateId": "2413",
    "templateCredsSetupCompleted": true
  },
  "name": "AI-ChatBot (AIKB)",
  "nodes": [
    {
      "parameters": {
        "options": {
          "temperature": 0.7,
          "timeout": 25000
        }
      },
      "id": "d1d4291e-fa37-43d0-81e0-f0a594371426",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        1400,
        620
      ],
      "typeVersion": 1,
      "credentials": {
        "openAiApi": {
          "id": "RhrJXV3TvjRKBk58",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "=Use this tool to search the \"\" Notion app database.\n\nIt is structured with question and answer format. \nYou can filter query result by:\n- By keyword\n- filter by tag.\n\nKeyword and Tag have an OR relationship not AND.\n\n",
        "method": "POST",
        "url": "=https://api.notion.com/v1/databases/{{ $json.notionID }}/query",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"filter\": {\n    \"or\": [\n      {\n        \"property\": \"question\",\n        \"rich_text\": {\n          \"contains\": \"{keyword}\"\n        }\n      },\n      {\n        \"property\": \"tags\",\n        \"multi_select\": {\n          \"contains\": \"{tag}\"\n        }\n      }\n    ]\n  },\n  \"sorts\": [\n    {\n      \"property\": \"updated_at\",\n      \"direction\": \"ascending\"\n    }\n  ]\n}",
        "placeholderDefinitions": {
          "values": [
            {
              "name": "keyword",
              "description": "Searches question of the record. Use one keyword at a time."
            },
            {
              "name": "tag",
              "description": "=Options: {{ $json.tagsOptions }}"
            }
          ]
        }
      },
      "id": "68e6805b-9c19-4c9e-a300-8983f2b7c28a",
      "name": "Search notion database",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "position": [
        1700,
        620
      ],
      "typeVersion": 1.1,
      "credentials": {
        "notionApi": {
          "id": "Z4Z6BZZXwWHe5jyJ",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "resource": "database",
        "databaseId": {
          "__rl": true,
          "value": "1748ec4b-f691-80f8-9bcc-c7bbd5b23243",
          "mode": "list",
          "cachedResultName": "Company Knowledge Base",
          "cachedResultUrl": "https://www.notion.so/1748ec4bf69180f89bccc7bbd5b23243"
        },
        "simple": false
      },
      "id": "c3164d38-a9fb-4ee3-b6bd-fccb4aa5a1a4",
      "name": "Get database details",
      "type": "n8n-nodes-base.notion",
      "position": [
        1140,
        380
      ],
      "typeVersion": 2.2,
      "credentials": {
        "notionApi": {
          "id": "Z4Z6BZZXwWHe5jyJ",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": 4
      },
      "id": "98300243-efcc-4427-88da-c1af8a91ddae",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        1540,
        620
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "toolDescription": "=Use this tool to retrieve Notion page content using the page ID. \n\nIt is structured with question and answer format. \nYou can filter query result by:\n- By keyword\n- filter by tag.\n\nKeyword and Tag have an OR relationship not AND.\n\n",
        "url": "https://api.notion.com/v1/blocks/{page_id}/children",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "placeholderDefinitions": {
          "values": [
            {
              "name": "page_id",
              "description": "Notion page id from 'Search notion database' tool results"
            }
          ]
        },
        "optimizeResponse": true,
        "dataField": "results",
        "fieldsToInclude": "selected",
        "fields": "id, type, paragraph.text, heading_1.text, heading_2.text, heading_3.text, bulleted_list_item.text, numbered_list_item.text, to_do.text, children"
      },
      "id": "a8473f48-1343-4eb2-8e48-ec89377a2a00",
      "name": "Search inside database record",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "position": [
        1860,
        620
      ],
      "notesInFlow": true,
      "typeVersion": 1.1,
      "credentials": {
        "notionApi": {
          "id": "Z4Z6BZZXwWHe5jyJ",
          "name": "Notion account"
        }
      },
      "notes": " "
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a8e58791-ba51-46a2-8645-386dd1a0ff6e",
              "name": "sessionId",
              "type": "string",
              "value": "={{ $('When chat message received').item.json.sessionId }}"
            },
            {
              "id": "434209de-39d5-43d8-a964-0fcb7396306c",
              "name": "action",
              "type": "string",
              "value": "={{ $('When chat message received').item.json.action }}"
            },
            {
              "id": "cad4c972-51a9-4e16-a627-b00eea77eb30",
              "name": "chatInput",
              "type": "string",
              "value": "={{ $('When chat message received').item.json.chatInput }}"
            },
            {
              "id": "8e88876c-2714-494d-bd5e-5e80c99f83e3",
              "name": "notionID",
              "type": "string",
              "value": "={{ $('Get database details').item.json.id }}"
            },
            {
              "id": "a88a15f6-317c-4d2e-9d64-26f5ccaf7a97",
              "name": "databaseName",
              "type": "string",
              "value": "={{ $json.title[0].text.content }}"
            },
            {
              "id": "7c3bf758-8ed3-469a-8695-6777f4af4fb9",
              "name": "tagsOptions",
              "type": "string",
              "value": "={{ $json.properties.tags.multi_select.options.map(item => item.name).join(',') }}"
            }
          ]
        },
        "options": {}
      },
      "id": "115c328e-84b0-43d2-8df7-8b3f74cbb2fb",
      "name": "Format schema",
      "type": "n8n-nodes-base.set",
      "position": [
        1340,
        380
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "public": true,
        "initialMessages": "Hi there! 👋\nMi chiamo Guendalina. Come posso aiutarti?",
        "options": {
          "showWelcomeScreen": true,
          "subtitle": "Siamo qui per aiutarti!",
          "title": "Supporto Gestiko"
        }
      },
      "id": "f1274a12-128c-4549-a19b-6bfc3beccd89",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "position": [
        940,
        380
      ],
      "webhookId": "b76d02c0-b406-4d21-b6bf-8ad2c623def3",
      "typeVersion": 1.1,
      "notesInFlow": false
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "=# Ruolo:\nAgisci come agente di supporto. Indaga sul database \"{{ $json.databaseName }}\" di Notion per ricercare record rilevanti, oppure per riassumere il contenuto di più records.\n\n# Formattazione output:\nIl contenuto delle risposte deve essere chiaro, consico e accurato. Non inventare risposte, basati unicamente sul contenuto del database.\nSe la richiesta è ambigua, chiedi maggiorni informazioni per identificare al meglio il problema. Non migliorare il contenuto del database, limitati ad restirutire i fatti e il contenuto dei record. Non restituire informazioni generali basate sulla tua conoscenza.\n\n# Gestione degli errori:\nIn caso mancata corrispondenza nei record del database, prova ad utilizzare dei criteri di ricerca differenti. Esempio 1: Laptop, poi Computer, poi Strumentazione. Esempio 2: Riunioni, poi riunione.\nSpiega in modo esaustivo tutti i problemi con la ricerca (esempio: mancano informazioni per trovare l'articolo più adatto).\n\n# Output:\nRestituisci informazioni chiare e concise. Puoi anche riscrivere il teso per renderlo più comprensibile oppure riassumere se necessario.\nPer informazioni lunge, mostra solo i migliori risultati e restituisci altre informazioni solo se richieste. Formatta gli URL in markdown.\n\nQuando un record è la risposta per la richiesta di un utente, restituisci sempre l'URL della pagina. Non mettere mai due link in un output."
        }
      },
      "id": "9f48e548-f032-477c-960d-9c99d61443df",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        1540,
        380
      ],
      "typeVersion": 1.6
    }
  ],
  "pinData": {},
  "settings": {},
  "staticData": null,
  "tags": [],
  "triggerCount": 2,
  "updatedAt": "2025-01-27T12:17:28.000Z",
  "versionId": "10fe2829-d29b-484d-a313-fb5c75c1a405"
}