workflows/Carica servizi gestionale.json
{
  "active": true,
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Crypto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crypto": {
      "main": [
        [
          {
            "node": "GET Clienti",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists": {
      "main": [
        [
          {
            "node": "Carica servizi cliente",
            "type": "main",
            "index": 0
          },
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET Clienti": {
      "main": [
        [
          {
            "node": "Item Lists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Ricarica servizi",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Carica servizi cliente": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Crypto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-11-16T07:56:58.154Z",
  "id": "olSkrSu4cDCKR1QD",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Carica servizi gestionale",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 3
            }
          ]
        }
      },
      "id": "7cb03447-2c76-4601-ae98-736c6a5d5fae",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        320,
        360
      ]
    },
    {
      "parameters": {
        "value": "={{ \"_service\" + $now.setZone('UTC').toFormat('yyyy-MM-dd') }}",
        "dataPropertyName": "token"
      },
      "id": "97621140-159a-46f1-a8fd-9c7c824b918f",
      "name": "Crypto",
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 1,
      "position": [
        560,
        360
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "id": "d6ce1b25-43ca-4628-880f-e40116120bb0",
      "name": "Item Lists",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [
        1020,
        360
      ]
    },
    {
      "parameters": {
        "url": "https://gestionale.ntcloud.it/clienti/list.php?info=idFattureInCloud,nomeFattureInCloud",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "=_service:{{ $json.token }}"
            }
          ]
        },
        "options": {}
      },
      "id": "aea23b37-8630-4c59-8247-f53e4257da33",
      "name": "GET Clienti",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        780,
        360
      ]
    },
    {
      "parameters": {
        "url": "=https://gestionale.ntcloud.it/servizi/caricaServizi.php?idCliente={{ $json[\"idFattureInCloud\"] }}&nomeCliente={{ $json.nomeFattureInCloud }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "=_service:{{ $('Crypto').item.json[\"token\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "6fcb68c5-218e-4173-86b0-5aef8d548eff",
      "name": "Carica servizi cliente",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1560,
        200
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "amount": 5,
        "unit": "minutes"
      },
      "id": "2ec7a2a8-0f28-4bf2-8546-ee14e802d2f9",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1560,
        480
      ],
      "webhookId": "bc846cff-4848-4a21-ac3d-8157d18fd5e2"
    },
    {
      "parameters": {
        "url": "=https://gestionale.ntcloud.it/servizi/caricaServizi.php?idCliente={{ $json[\"idFattureInCloud\"] }}&bypass&nomeCliente={{ $json.nomeFattureInCloud }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "=_service:{{ $('Crypto').item.json[\"token\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "c9d0af5c-bfb5-44ee-84d9-4186a1a577c1",
      "name": "Ricarica servizi",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2000,
        380
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "Prima esecuzione conclusa. Tra 5 minuti verrà avviata la seconda per correggere eventuali errori.",
        "options": {}
      },
      "id": "851804a0-c125-479c-b8c1-b1ad4a5f4ea8",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1780,
        200
      ]
    },
    {
      "parameters": {
        "path": "avvia-conversione-servizi-a-consumi",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "df9f84f8-086c-4a35-bac1-5c698f7e4408",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        320,
        200
      ],
      "webhookId": "c41f4fa5-276a-4c52-a422-0e96da0a1b64"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrencyRules": [],
      "recurrenceRules": []
    }
  },
  "tags": [
    {
      "createdAt": "2023-11-16T07:56:55.120Z",
      "updatedAt": "2023-11-16T07:56:55.120Z",
      "id": "CyrGRy289uAYgKBf",
      "name": "Gestionale Net Target"
    }
  ],
  "triggerCount": 2,
  "updatedAt": "2025-01-30T20:57:01.000Z",
  "versionId": "f90adf89-6dac-4a06-9352-0249c8adc447"
}