workflows/Converti servizi microsoft in consumi.json
{
  "active": true,
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Crypto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crypto": {
      "main": [
        [
          {
            "node": "Carica servizi cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Carica servizi cliente": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "createdAt": "2023-12-11T18:14:14.728Z",
  "id": "FhzzrKfifqw75fM0",
  "meta": null,
  "name": "Converti servizi microsoft in consumi",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 4
            }
          ]
        }
      },
      "id": "9b0a277b-ba5a-4f52-8a1a-a0c01759a65f",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        200,
        380
      ],
      "notesInFlow": true,
      "notes": "Ogni giorno alle 04.00"
    },
    {
      "parameters": {
        "value": "={{ \"_service\" + $now.setZone('UTC').toFormat('yyyy-MM-dd') }}",
        "dataPropertyName": "token"
      },
      "id": "c70ea7a6-6087-44fa-85b7-a2f862d21b9f",
      "name": "Crypto",
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 1,
      "position": [
        440,
        380
      ]
    },
    {
      "parameters": {
        "url": "=https://gestionale.ntcloud.it/servizi/convertiConsumiMicrosoft.php",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "=_service:{{ $('Crypto').item.json[\"token\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "e1edb9b3-b4ce-457d-8b30-f86a4602e93f",
      "name": "Carica servizi cliente",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        680,
        380
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.count }}",
              "operation": "notEqual"
            }
          ]
        }
      },
      "id": "fc18e031-02bf-4247-95e1-aa013c7523d8",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        900,
        380
      ]
    },
    {
      "parameters": {
        "fromEmail": "gestionale.conversionimicrosoft@nettarget.it",
        "toEmail": "log@rapportini.net-target.it",
        "subject": "Convertiti nuovi servizi",
        "emailFormat": "text",
        "text": "=Per il mese {{ $json.data }} sono stati convertiti  {{ $json.count }} servizi a consumi.",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "faebacef-4160-4307-9b33-878b78e7f9df",
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1200,
        220
      ],
      "credentials": {
        "smtp": {
          "id": "tfSHueA1qXf8jHgH",
          "name": "SMTP account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrencyRules": []
    }
  },
  "tags": [
    {
      "createdAt": "2023-11-16T07:56:55.120Z",
      "updatedAt": "2023-11-16T07:56:55.120Z",
      "id": "CyrGRy289uAYgKBf",
      "name": "Gestionale Net Target"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2023-12-12T14:58:38.000Z",
  "versionId": "fef163c3-cb69-4a96-9250-f3a19c1227cf"
}