workflows/Invia rapportino via email 2.0.json
{
  "active": true,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Crypto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crypto": {
      "main": [
        [
          {
            "node": "rappdata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "rappdata": {
      "main": [
        [
          {
            "node": "Verifica Allegato",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verifica Allegato": {
      "main": [
        [
          {
            "node": "email1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Indirizzo differente": {
      "main": [
        [
          {
            "node": "Scarica Allegato",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Scarica Allegato1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "email1": {
      "main": [
        [
          {
            "node": "Indirizzo differente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scarica Allegato": {
      "main": [
        [
          {
            "node": "Invio a Email differente + Allegato",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scarica Allegato1": {
      "main": [
        [
          {
            "node": "Invio a Email + Allegato",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "email": {
      "main": [
        [
          {
            "node": "Invio a Email + Allegato1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Invio a Email differente + Allegato": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Invio a Email + Allegato": {
      "main": [
        [
          {
            "node": "IF1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Invio a Email + Allegato1": {
      "main": [
        [
          {
            "node": "IF2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "TRUE",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "FALSE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF1": {
      "main": [
        [
          {
            "node": "TRUE",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "FALSE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF2": {
      "main": [
        [
          {
            "node": "TRUE",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "FALSE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-03-11T17:10:25.398Z",
  "id": "eBxNlM0aLfjB7XbH",
  "meta": null,
  "name": "Invia rapportino via email 2.0",
  "nodes": [
    {
      "parameters": {
        "authentication": "basicAuth",
        "path": "inviarapportino",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "4a2e2d49-9e60-44c0-8d14-fe2758e35ba2",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -80,
        340
      ],
      "webhookId": "44949e57-c562-4d9f-9c2b-71c63c1b714f",
      "credentials": {
        "httpBasicAuth": {
          "id": "cP3BOtxj7DDr7JMX",
          "name": "Send Email PHP Gestionale"
        }
      }
    },
    {
      "parameters": {
        "value": "={{ \"_service\" + $now.setZone('UTC').toFormat('yyyy-MM-dd') }}"
      },
      "id": "8efa1482-644e-4224-93c8-2b657d4d5b81",
      "name": "Crypto",
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 1,
      "position": [
        120,
        340
      ]
    },
    {
      "parameters": {
        "url": "=https://gestionale.ntcloud.it/rapportini/emaildata.php?idRapportino={{ $('Webhook').item.json[\"query\"][\"idRapportino\"] }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "=_service:{{ $json.data }}"
            }
          ]
        },
        "options": {}
      },
      "id": "1bd89eab-17e1-47f2-bbca-6806d946da23",
      "name": "rappdata",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        320,
        340
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.pdf }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "aad9ad80-1e9e-4c00-bb4a-eccac6f73303",
      "name": "Verifica Allegato",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        560,
        340
      ]
    },
    {
      "parameters": {
        "url": "={{ $('rappdata').item.json[\"pdf\"] }}{{ $('Webhook').item.json[\"query\"][\"user\"] }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "=_service:{{ $('Crypto').item.json[\"data\"] }}"
            }
          ]
        },
        "options": {
          "response": {}
        }
      },
      "id": "91d91700-2662-4e32-9fd5-35c9acc8601f",
      "name": "Scarica Allegato",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1680,
        -160
      ],
      "alwaysOutputData": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "=https://gestionale.ntcloud.it/rapportini/email.php?idRapportino={{ $('Webhook').item.json[\"query\"][\"idRapportino\"] }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "=_service:{{ $('Crypto').item.json[\"data\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "99f7cc45-48ec-41bb-9b66-1c2bb75429ec",
      "name": "email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1680,
        400
      ]
    },
    {
      "parameters": {
        "url": "=https://gestionale.ntcloud.it/rapportini/email.php?idRapportino={{ $('Webhook').item.json[\"query\"][\"idRapportino\"] }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "=_service:{{ $('Crypto').item.json[\"data\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ef79b12b-d4e2-4fad-97eb-4f1881c730cd",
      "name": "email1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1140,
        20
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('Webhook').item.json[\"query\"][\"email\"] }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "3fd95650-df3b-40f6-abde-65317db462b5",
      "name": "Indirizzo differente",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1380,
        20
      ]
    },
    {
      "parameters": {
        "url": "={{ $('rappdata').item.json[\"pdf\"] }}{{ $('Webhook').item.json[\"query\"][\"user\"] }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "=_service:{{ $('Crypto').item.json[\"data\"] }}"
            }
          ]
        },
        "options": {
          "response": {}
        }
      },
      "id": "14ac124d-fd8e-4faf-b3da-032b52cbfc8a",
      "name": "Scarica Allegato1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1680,
        80
      ],
      "alwaysOutputData": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "toRecipients": "={{ $('Webhook').item.json[\"query\"][\"email\"] }}",
        "subject": "={{ $('rappdata').item.json[\"oggetto\"] }}",
        "bodyContent": "={{ $('email1').item.json[\"data\"] }}",
        "additionalFields": {
          "attachments": {
            "attachments": [
              {
                "binaryPropertyName": "data"
              }
            ]
          },
          "bccRecipients": "={{ $('rappdata').item.json[\"tecnicoUtente\"] }}",
          "bodyContentType": "html"
        }
      },
      "id": "21eddf86-f97d-458b-a602-8f7b78647a7f",
      "name": "Invio a Email differente + Allegato",
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        1920,
        -160
      ],
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "uQ4EvYpbYU7cTQq2",
          "name": "gestionale@net-target.it"
        }
      }
    },
    {
      "parameters": {
        "toRecipients": "={{ $('rappdata').item.json[\"mailCliente\"] }}",
        "subject": "={{ $('rappdata').item.json[\"oggetto\"] }}",
        "bodyContent": "={{ $('email1').item.json[\"data\"] }}",
        "additionalFields": {
          "attachments": {
            "attachments": [
              {
                "binaryPropertyName": "data"
              }
            ]
          },
          "bccRecipients": "={{ $('rappdata').item.json[\"tecnicoUtente\"] }}",
          "bodyContentType": "html"
        }
      },
      "id": "0b5c4860-17ce-4a30-ba02-7aa0ca04f0e2",
      "name": "Invio a Email + Allegato",
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        1920,
        80
      ],
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "uQ4EvYpbYU7cTQq2",
          "name": "gestionale@net-target.it"
        }
      }
    },
    {
      "parameters": {
        "toRecipients": "={{ $('rappdata').item.json[\"mailCliente\"] }}",
        "subject": "={{ $('rappdata').item.json[\"oggetto\"] }}",
        "bodyContent": "={{ $('email').item.json[\"data\"] }}",
        "additionalFields": {
          "bccRecipients": "={{ $('rappdata').item.json[\"tecnicoUtente\"] }}",
          "bodyContentType": "html"
        }
      },
      "id": "7e6f8cae-bd06-4c05-9945-4777cedd15a9",
      "name": "Invio a Email + Allegato1",
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        1920,
        400
      ],
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "uQ4EvYpbYU7cTQq2",
          "name": "gestionale@net-target.it"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.success }}",
              "value2": true
            }
          ]
        }
      },
      "id": "499d1e6e-d061-4bb8-9d8d-56002c367326",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2160,
        -160
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.success }}",
              "value2": true
            }
          ]
        }
      },
      "id": "ea32cbd7-75f4-4b46-946c-d5586e7d2413",
      "name": "IF1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2160,
        80
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.success }}",
              "value2": true
            }
          ]
        }
      },
      "id": "c925b226-9a50-463e-af6c-b7d44e26b813",
      "name": "IF2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2160,
        400
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"stato\": true}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "c744e63d-d66c-474b-8127-52cdfd8ef558",
      "name": "TRUE",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        2700,
        -40
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"stato\": false}",
        "options": {
          "responseCode": 422
        }
      },
      "id": "d1fede20-2867-429b-aa05-4e838e9f0521",
      "name": "FALSE",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        2700,
        260
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2023-11-16T07:56:55.120Z",
      "updatedAt": "2023-11-16T07:56:55.120Z",
      "id": "CyrGRy289uAYgKBf",
      "name": "Gestionale Net Target"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-03-12T16:18:35.000Z",
  "versionId": "084ce6f5-d9f5-4903-afbe-99895ea67941"
}