workflows/LogManager - Notifica errori UID.json
{
  "active": true,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-04-24T08:52:13.598Z",
  "id": "RLg2kzNGSdmddNnz",
  "meta": null,
  "name": "LogManager - Notifica errori UID",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "logmanager-uiderr",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "d8726d04-2f0d-4b1d-8782-dd285c69d27a",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        500,
        320
      ],
      "webhookId": "0c19d38f-3eba-4f3d-b9b4-4279961d9af9"
    },
    {
      "parameters": {
        "chatId": "={{ $json.body.chatid }}",
        "text": "={{ $json.body.testo }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "569ef75a-6655-4c40-8bc0-660e7e852c42",
      "name": "Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        760,
        320
      ],
      "credentials": {
        "telegramApi": {
          "id": "FLwX2cDEVGLGY29S",
          "name": "Net Target BOT"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.ok }}",
              "value2": true
            }
          ]
        }
      },
      "id": "549f2725-14d4-4571-afdb-64bf91215ad9",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1000,
        320
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "ok",
        "options": {}
      },
      "id": "c3e6e0c3-8d2c-49f7-8f9a-d423cd7632f7",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1580,
        180
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "errore",
        "options": {}
      },
      "id": "fd29377a-97f6-43c1-a51f-b0476a0d202d",
      "name": "Respond to Webhook1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1560,
        460
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2024-04-24T08:55:41.000Z",
  "versionId": "20bb8182-f09c-402a-bba0-9b8e4d313696"
}