workflows/LogManager - Notifiche Telegram.json
{
  "active": true,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-04-10T13:51:00.096Z",
  "id": "v1cRgr1oPvccv7Od",
  "meta": null,
  "name": "LogManager - Notifiche Telegram",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "173b705f-171f-4534-931c-d26669e24647",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a7796825-1a84-48fa-9993-c62d30776021",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        500,
        320
      ],
      "webhookId": "173b705f-171f-4534-931c-d26669e24647"
    },
    {
      "parameters": {
        "chatId": "={{ $json.body.chatid }}",
        "text": "={{ $json.body.testo }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "7baae8b9-c865-491d-8f64-33d8fb102ae6",
      "name": "Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        760,
        320
      ],
      "credentials": {
        "telegramApi": {
          "id": "FLwX2cDEVGLGY29S",
          "name": "Net Target BOT"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.ok }}",
              "value2": true
            }
          ]
        }
      },
      "id": "b018bb8a-a339-4f74-90d0-f23bd0b12d73",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1000,
        320
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "ok",
        "options": {}
      },
      "id": "a9dae282-d102-4831-bf73-ef253ed6fcb2",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1580,
        180
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "errore",
        "options": {}
      },
      "id": "20794171-2dd2-4da8-9406-edf84abb8a01",
      "name": "Respond to Webhook1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1560,
        460
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2024-04-10T15:01:31.000Z",
  "versionId": "2783bdc1-44ee-4614-8e73-e1610bff42f3"
}